<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/', 'places','tabs','offers','new']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let p of offers" [routerLink]="['/','places','tabs','offers',p.id]"
            routerLinkActive="router-link-active" detail>
            <ion-avatar slot="start">
              <ion-img [src]="p.imageUrl"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{p.title}}</h2>
              <p>{{p.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>