<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center" size-md="6" offset-md="3" *ngIf="!loadedBookings || loadedBookings.length <= 0">
        No Bookings found!
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="loadedBookings || loadedBookings.length > 0">
        <ion-list>
          <ion-list>
            <ion-item-sliding *ngFor="let b of loadedBookings" #slidingItem>
              <ion-item>
                <ion-label>
                  <h5>{{b.placeTitle}}</h5>
                  <p>Guests: {{b.guestNumber}}</p>
                </ion-label>
              </ion-item>
              <ion-item-options side="start">
                <ion-item-option color="danger" (click)="onCancelBooking(b.id, slidingItem)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>

              <!-- <ion-item-options side="start">
                <ion-item-option (click)="unread(item)">Unread</ion-item-option>
              </ion-item-options> -->
            </ion-item-sliding>
          </ion-list>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>